<div class="non-modal" style='min-width: 40%'>
  <h1 class='text-center margin-top-xxl margin-bottom-xxl'>Événements</h1>
  <div class='flex justify-end margin-bottom-l'>
    <%= 
      render(
        "shared/components/button",
        text: "Ajouter un événement",
        klasses: "modal-opener",
      )
    %>
  </div>

  <div class='card padding-top-s padding-bottom-s padding-left-s padding-right-s'>
    <% if @events.present? %>
      <% @events.each do |event| %>
        <div class='flex justify-between align-center flex-gap-xxxl'>
          <p class='margin-left-s'>
            <%= event.name %> / <%= event.rounds_count %> rotations / <%= event.teams.length %> équipes
          </p>
          <% if event.csv.attached? %>
            <%= 
              render(
                "shared/components/button",
                text: "Télécharger le CSV",
                link: event.csv_url,
              )
            %>
          <% end %>
        </div>
        <% if event != @events.last %>
          <div class='separator margin-top-s margin-bottom-s'></div>
        <% end %>
      <% end %>
    <% else %>
      <p class='text-center'>Aucun événement</p>
    <% end %>
  </div>
</div>

<div class="modal-container not-displayed" role="dialog" tabindex="-1">
  <div class="card modal-content padding-xl">
    <div class="flex justify-between align-center flex-gap-s margin-bottom-s">
      <h2 class="margin-none">Ajouter un événement</h2>
      <%= 
        render(
          "shared/components/button",
          text: "x",
          klasses: "modal-closer",
        )
      %>
    </div>
    <%= form_with url: "/round_table/events", method: :post do |form| %>
      <div class="flex justify-between flex-gap-s align-center margin-bottom-s">
        <%= form.label "event[name]", "Nom de l'événement" %>
        <%= form.text_field "event[name]" %>
      </div>
      <div class="flex justify-between flex-gap-s align-center">
        <%= form.label :teams_number, "Nombre d'équipes" %>
        <%= form.text_field :teams_number %>
      </div>
      <div class='flex justify-between flex-gap-xxxl'>
        <div id='teams' class='flex flex-even flex-column flex-gap-xxs margin-top-s margin-bottom-s'></div>
        <div id='workshops' class='flex flex-even flex-column flex-gap-xxs margin-top-s margin-bottom-s'></div>
      </div>
      <div class="flex justify-around">
        <%= 
          render(
            "shared/components/button",
            text: "Valider",
            klasses: "modal-closer",
          )
        %>
      </div>
    <% end %>
  </div>
</div>
