<!DOCTYPE html>
<html style='height: 100%'>
  <head>
    <title>LairApi</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class='container flex justify-around' style='margin: 0'>
    <%= yield %>
  </body>
</html>
